html {
}
body{
  padding-top:90px;
}
#nav-logo {
  font-size: 3em;
  padding: 4rem;
  color: #ffffff;
}
nav input {
  margin-top: 1rem;
}
nav {
  background-color: blue;
  width: 100%;
  position:fixed;
  left:0px;
  top:0px;
  height: 90px;
}
header {
  top:100px;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.main-container {
  margin: 0 auto;
  width: 1200px;
}
footer {
  background-color: lightblue;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
section {
  float:left;
  background-color: lightgray;
  padding: 2rem;
  height: auto;
}
.left-float {
  float: left;
}
.right-float {
  width: 200px;
  float: right;
}
